.pdf-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.pdf-page {
    width: 100%;
    background: transparent;
    border: 1px solid #ccc;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}

.no-pdf-message {
    color: #bebebe;
    font-size: 1.5em;
    text-align: center;
    margin: 250px 0;
  }
  