.pdf-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.highlighted-text {
  background-color: yellow !important; /* 确保高亮样式具有足够的优先级 */
}
mark {
  background-color: yellow;
  color: black;
}

.pdf-page {
    width: 100%;
    background: transparent;
    border: 1px solid #ccc;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}

.no-pdf-message {
    color: #bebebe;
    font-size: 1.5em;
    text-align: center;
    margin: 250px 0;
  }

.fixed-controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1000;
}
  
.controls input {
  width: 35px;
  height: 30px;
  text-align: center;
  border: 1px solid #bebebe;
  border-radius: 4px;
}

.controls input[type="number"]::-webkit-inner-spin-button,
.controls input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.controls button {
  width: 40px;
  height: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
}

.controls button:hover {
  background-color: #bebebe;
  color: #000000;
  border-radius: 4px;
}

.controls span {
  font-size: 16px;
}

.light-text {
  color: #bebebe;
}

.pdf-viewer {
  margin-top: 60px;
  padding-left: 15px;
}
.pdf-viewer ::selection {
  background: transparent;
  color: inherit;
}
